<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547351776280-soma72k2p5u5d3t16v3p52j57kaooqi1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547351776280-soma72k2p5u5d3t16v3p52j57kaooqi1</string>
	<key>API_KEY</key>
	<string>AIzaSyDoXjXT92bZ5UxKYI104zEM3nua0vp9Zrg</string>
	<key>GCM_SENDER_ID</key>
	<string>547351776280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaostudios.uwulesson</string>
	<key>PROJECT_ID</key>
	<string>uwulesson</string>
	<key>STORAGE_BUCKET</key>
	<string>uwulesson.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547351776280:ios:568136c672f991fc86076d</string>
</dict>
</plist>